<section class="certificates">
    <h2>Certifications</h2>
    <div class="cert-grid">
        <div class="cert-card">
            <h3>Data Analysis with Python</h3>
            <p>Issued by: Coursera<br>Issued on: January 20, 2026</p>
            <a href="https://courses.cognitiveclass.ai/certificates/a7c540d4e61643b7bf93914dd2a00cec" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>Introduction to SQL</h3>
            <p>Issued by: Datacamp<br>Issued on: October 27, 2025</p>
            <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/dcd35e65114eb7120df2caf6b63ba7537a0d0828" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>AI Fundamentals</h3>
            <p>Issued by: Datacamp<br>Issued on: October 28, 2025</p>
            <a href="https://www.datacamp.com/skill-verification/AIF0023978429947" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>Generative AI Concepts</h3>
            <p>Issued by: Datacamp<br>Issued on: October 27, 2025</p>
            <a href="https://app.datacamp.com/learn/courses/generative-ai-concepts" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>Understanding Machine Learning</h3>
            <p>Issued by: Datacamp<br>Issued on: October 28, 2025</p>
            <a href="https://app.datacamp.com/learn/courses/understanding-machine-learning" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>Good Clinical Practice</h3>
            <p>Issued by: NIDA Clinical Trail Network<br>Issued on: February 7, 2025</p>
            <a href="{{ url_for('static', filename='certificates/certificate-1.pdf') }}" target="_blank">View Certificate</a>
        </div>
        <div class="cert-card">
            <h3>Pharmacovigilance Training</h3>
            <p>Issued by: Clinipro Pharmacovigilance Training Institute<br>Issued on: June 30, 2024</p>
            <a href="{{ url_for('static', filename='certificates/Pavan pharmacovigilance-20250210-WA0003..pdf') }}" target="_blank">View Certificate</a>
        </div>
    </div>
</section>